.selectFileLabel {
  position: relative;
  input[type="file"] {
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 75px;
  }
  span,
  button {
    vertical-align: middle;
  }
  span {
    display: inline-block;
    margin-right: 10px;
  }
}
